# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
build/
dist/
*.spec

# User Installer
user_installer/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/

# Local Dev Keys
*.key
hide_dev_bypass.key
